#TablaPrincipal { 
	color: black; 
	font-family: Verdana;
	text-align: center; }

.contenedor{
	overflow:hidden;}

.menu ul{
	overflow:hidden;
	margin:auto;
	width: 30%;}

.menu li {
    float: left;
	list-style-type:none;}

.menu a{
    display: block;
    padding: 8px;
    background-color: #dddddd;
	 text-decoration:none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

li a:hover {
    background-color: #111;
}

.contenido {
	float:left;}

.menu li:hover{background-color:grey;}

body {
	background-image: url("/Viajar/static/media/fondo_principal.jpg");
	background-size: cover;
} 

h1 {
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
	font-family:fantasy;
	font-style:italic;
	}

.TablaPrincipal {
	float:left;
	margin-left:180px;
	margin-top:40px;
	padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #ff7f00;
	
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
	
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
	
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
	
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}.TablaPrincipal table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.TablaPrincipal tr:last-child td:last-child {
	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;
}
.TablaPrincipal table tr:first-child td:first-child {
	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}
.TablaPrincipal table tr:first-child td:last-child {
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;
}.TablaPrincipal tr:last-child td:first-child{
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;
}.TablaPrincipal tr:hover td{
	
}
.TablaPrincipal tr:nth-child(odd){ background-color:#ffaa56; }
.TablaPrincipal tr:nth-child(even)    { background-color:#ffffff; }.TablaPrincipal td{
	vertical-align:middle;
	
	
	border:1px solid #ff7f00;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:9px;
	font-family:Comic Sans MS;
	font-weight:normal;
	color:#000000;
}.TablaPrincipal tr:last-child td{
	border-width:0px 1px 0px 0px;
}.TablaPrincipal tr td:last-child{
	border-width:0px 0px 1px 0px;
}.TablaPrincipal tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.TablaPrincipal tr:first-child td{
		background:-o-linear-gradient(bottom, #7f3f00 5%, #565603 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f3f00), color-stop(1, #565603) );
	background:-moz-linear-gradient( center top, #7f3f00 5%, #565603 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f3f00", endColorstr="#565603");	background: -o-linear-gradient(top,#7f3f00,565603);

	background-color:#7f3f00;
	border:0px solid #ff7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:9px;
	font-family:Georgia;
	font-weight:bold;
	color:#ffffff;
}
.TablaPrincipal tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #7f3f00 5%, #565603 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f3f00), color-stop(1, #565603) );
	background:-moz-linear-gradient( center top, #7f3f00 5%, #565603 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7f3f00", endColorstr="#565603");	background: -o-linear-gradient(top,#7f3f00,565603);

	background-color:#7f3f00;
}
.TablaPrincipal tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.TablaPrincipal tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
