{% load staticfiles %}
<html>
	<head>
		<title>MiProyecto</title>
			<link rel="stylesheet" type="text/css" href="{% static "css/principal.css" %}">  <!--Su css es principal.css-->
	</head>
	<h1>Viajes por el mundo</h1>
	<body>
	<div class=contenedor>
		<div class=menu>
		<ul>
		{% if user.is_authenticated %}
			<li id="soy">Soy {{ user.get_username }}</li>
			<li><a href="{% url 'reservas_usuario' %}">Mis reservas</a></li>
		{% endif %}
	
		
			{% if user.is_authenticated %}
				<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
					<li><a href="{% url 'registro' %}">Registro</a></li>
						<li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
		</ul>
	
	</div>
		
		{% if Viajes %}
		<div class=contenido>
			
			<table class="TablaPrincipal" border="2">  <!-- Le meto el id para usarlo en su css correspondiente-->
				<tr>
					<td>continente</td>
					<td>pais</td>
					<td>lugar</td>
					<td>tipo</td>
					<td>precio</td>
					<td>detalles</td>
					<td>Ediciones</td>
					
			
				</tr>
				{% for viaje in Viajes %}
					<tr>
						<td>{{ viaje.continente }}</td>
						<td>{{ viaje.pais }}</td>
						<td>{{ viaje.lugar }}</td>
						<td>{{ viaje.tipo }}</td>
						<td>{{ viaje.precio }}</td>
						<td><a href="{% url 'detalles_viaje' viaje.id %}">Ir a detalles</a></td>
						<td><a href="{% url 'ediciones' viaje.id %}">Ir a ediciones</a></td> 
						
			
					</tr>
				{% endfor %}
			</table>
		</div>
		</div>
		{% else %}
			<p>Página del cheriff</p>			
		{% endif %}
	</body>
</html>
