{% load staticfiles %}
<html>
	<head>
		<title>MiProyecto</title>
			<link rel="stylesheet" type="text/css" href="{% static "css/principal.css" %}">  <!--Su css es principal.css-->
	</head>
	<body>
		{% if user.is_authenticated %}
			<p>Soy {{ user.get_username }}</p>
			<p><a href="{% url 'reservas_usuario' %}">Mis reservas</a></p>
		{% endif %}
	<nav>
		<ul>
			{% if user.is_authenticated %}
				<li><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
					<li><a href="{% url 'registro' %}">Registro</a></li>
						<li><a href="{% url 'login' %}">Login</a></li>
			{% endif %}
		</ul>
	</nav>
		{% if Viajes %}
			<table id="TablaPrincipal" border="2">  <!-- Le meto el id para usarlo en su css correspondiente-->
				<tr>
					<td>continente</td>
					<td>pais</td>
					<td>lugar</td>
					<td>tipo</td>
					<td>precio</td>
					<td>plazas_disponibles</td>
					<td>foto</td>
					<td>Ediciones</td>
					
			
				</tr>
				{% for viaje in Viajes %}
					<tr>
						<td>{{ viaje.continente }}</td>
						<td>{{ viaje.pais }}</td>
						<td>{{ viaje.lugar }}</td>
						<td>{{ viaje.tipo }}</td>
						<td>{{ viaje.precio }}</td>
						<td>{{ viaje.plazas_disponibles }}</td>
						<td><img src="{{ viaje.foto }}"></td>
						<td><a href="{% url 'ediciones' viaje.id %}">Ir a ediciones</a></td> 
						
			
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>Página del cheriff</p>			
		{% endif %}
	</body>
</html>
